<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Alberto Agis Web - Contacto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
  <link rel="stylesheet" href="../css/estilos.css">

  
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css">
</head>
<body>

<header>
  <nav class="navbar">
    <div class="logo">Alberto Agis Web</div>
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="galeria.html">Galería</a></li>
      <li><a href="presupuesto.html">Presupuesto</a></li>
      <li><a href="contacto.html" class="activo">Contacto</a></li>
    </ul>
  </nav>
</header>

<main>
  <section>
    <h1>Contacto</h1>

    <!--  CONTENEDOR DEL MAPA -->
    <div id="map" style="width: 100%; height: 400px;"></div>

    <h2>Datos de contacto</h2>
    <p><strong>Alberto Agis Web</strong></p>
    <p>Avenida Unión Europea 86, Roquetas de Mar (Almería)</p>
    <p>Teléfono: 633 118 786</p>
    <p>Email: contacto@albertoagisweb.com</p>
  </section>
</main>

  <footer>
  <div class="footer-contenido">
    <div>
      <p>© 2025 Alberto Agis Web</p>
      <p>Avenida Unión Europea 86</p>
    </div>

    <div class="social">
      <img src="../assets/images/Facebook.png" alt="Facebook" width="32" height="32">
      <img src="../assets/images/Twitter.jpg" alt="Twitter" width="32" height="32">
      <img src="../assets/images/Inst.jpg" alt="Instagram" width="32" height="32">
    </div>

    
    <div>
      <a href="aviso-legal.html">Aviso legal</a>
    </div>
  </div>
</footer>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<script src="../js/contacto.js"></script>
</body>
</html>